@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4 mb-4">Welcome to the Library Manager</h1>
        <p>This application allows for managing borrowers, media, and the checkout and return of that media</p>
    </div>
</div>
